ul {
  list-style-type: none;
}

li {
  display: flex;
  padding: 10px 0px;
  max-width: 600px;
}

li > img {
  width: 100%;
  max-width: 200px;
  padding-right: 15px; 
  height: auto;
}

span {
  display: block;
}

.video-title {
  font-weight: bold;
  padding: 10px 0px;
  font-size: 18px;
}

.video-channel {
  font-weight: 500;
  padding-bottom: 10px;
}

.video-description {
  color: #ccc;
  padding-bottom: 10px;
}

.video-btn {
  background-color: transparent;
  padding: 5px;
  color: white;
  border: 1px solid #ccc;
}

.video-btn:hover {
  background-color: #555;
}