.yt-list {
  list-style-type: none;
  display: block;
  padding: 0;
  width: 80%;
  margin: 0 auto;
}

.yt-list-item {
  display: flex;
  padding: 15px 0px;
  max-width: 600px;
  border-bottom: 1px solid #333;
}

.yt-list-item > img {
  width: 100%;
  max-width: 200px;
  padding-right: 15px; 
  height: auto;
}


.yt-span {
  display: block;
}

.video-form {
  width: 100%;
}
.video-search {
  display: flex;
  background-color: transparent;
  padding: 10px;
  width: 80%;
  margin: 20px auto;
  font-size: 18px;
  color: white;
  border: 1px solid #555;
}

.video-title {
  font-weight: bold;
  padding: 10px 0px;
  font-size: 18px;
}

.video-channel {
  font-weight: 500;
  padding-bottom: 10px;
}

.video-description {
  color: #ccc;
  padding-bottom: 10px;
}

.video-btn {
  background-color: transparent;
  padding: 5px;
  color: white;
  border: 1px solid #ccc;
}

.video-btn:hover {
  background-color: #555;
}