.scrolling-text-container {
  overflow: hidden;
  width: 150px;
}


.scrolling-text {
  position: relative;
  white-space: nowrap;
  animation: scrollingText 20s linear infinite;
}

@keyframes scrollingText {
  0% {
    right: 0%;
  }
  100% {
    right: 200%;
  }
}
