.scrolling-text-container {
  width: 150px;
  overflow:hidden;
}


.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  transform: translateX(100%);
  animation: scrollingText 8s linear infinite;
}

@keyframes scrollingText {
  from {
    transform: translateX(150px)
  }
  to {
    transform: translateX(-100%)
  }
}